body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: #f3f4f5;
    color: #456;
}

a {
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, .2) 0 0 20px;
    min-height: 100vh;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
    background-color: rgb(104, 174, 235);
}

.menu-item {
    display: inline-block;
    position: relative;
}

.link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 25px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    opacity: 0;
    z-index: 0;
    min-width: 100%;
    transform-origin: 0 0;
}

.dropdown .link {
    white-space: nowrap;
}

.menu-item:hover {
    background-color: rgba(36, 50, 63, .3);
    transition: 300ms linear all;
}

.menu-item:hover .link {
    color: #fff;
}

.active {
    background-color: rgba(36, 50, 63, .3);
}

.active .link {
    color: #fff;
}

.menu-item:hover .dropdown {
    transform: scale(1, 1);
    opacity: 1;
    z-index: 1;
    transition: 300ms linear;
}

.dropdown-item .link {
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(36, 50, 63, .3);
    transition: 300ms linear;
}

.subdropdown {
    position: absolute;
    top: 0;
    left: 100%;
    transform: scale(0, 1);
    opacity: 0;
    z-index: 0;
    min-width: 100%;
    transform-origin: 0 0;
}

.dropdown-item:hover .subdropdown {
    transform: scale(1, 1);
    opacity: 1;
    z-index: 1;
    transition: 300ms linear;
}

.subdropdown-item:hover {
    background-color: rgba(36, 50, 63, .3);
    transition: 300ms linear;
}